<%- include('partials/header.ejs') %>
<div class="ui red inverted segment">
    <h2 class="ui header">fire ball</h2>
    <ol class="ui ordered list">
        <h4 class="item">Cost 80</h4>
        <h4 class="item">Damege 75</h4>
        <h4 class="item">It may not have much speed but it does very high damge</h4>
    </ol>
</div>
<div class="ui blue inverted segment">
    <h2 class="ui header">water ball</h2>
    <ol class="ui ordered list">
        <h4 class="item">Cost 50</h4>
        <h4 class="item">Damege 30</h4>
        <h4 class="item">It is very fast but does comparatively less damage</h4>
    </ol>
</div>
<div class="ui black inverted segment">
    <h2 class="ui header">dark ball</h2>
    <ol class="ui ordered list">
        <h4 class="item">Cost 120</h4>
        <h4 class="item">Damege : Anything between 0 and 180</h4>
        <h4 class="item">has a very high cost and therefore cast only if you are feeling lucky, also it is faster than fire ball</h4>
    </ol>
</div>
<div class="ui olive inverted segment">
    <h2 class="ui header">poison gas</h2>
    <ol class="ui ordered list">
        <h4 class="item">Cost 50</h4>
        <h4 class="item">Damege : 70</h4>
        <h4 class="item">this spell does not move at all, if anyone comes in contact with this then that player recieves damage. it protects against other spells which come in contact with it</h4>
    </ol>
</div>

<%- include('partials/footer.ejs')  %>