<%- include('partials/header.ejs') %>
<div class="ui text container">
<h2 class="ui header">Learn how the game works</h2>

<p class="paragraph">
the game's main objective is to reduce health of the opponent to zero by casting spells.
in the game the player is provided with a input bar to type your spells in. use arrow keys to move around the arena, and press 'enter' to cast the spell.
avoid spelling mistakes and be accurate in marking them.
the spells are fired horizontally towards the opponent.
Aim carefully and happy casting
</p>
</div>

<%- include('partials/footer.ejs')  %>